*.iml
.idea/
.nrepl-port

resources/dannet
resources/wordnet
resources/db/
resources/export/
dannet.ttl
ro2021-0.1.cor

docker/neo4j/*.jar

.cpcache
.DS_Store

.shadow-cljs
node_modules
package-lock.json
package.json
resources/public/js/compiled

# https://github.com/dsldk/danish-sentiment-lexicon
2_headword_headword_polarity.csv
