*.iml
.idea/
.nrepl-port

resources/wordnet
resources/db/
resources/export/
dannet.ttl

bootstrap/dannet

# The new 2022 data for DanNet, downloaded from Google Sheets.
bootstrap/other/dannet-new/adjectives.tsv

# Files downloaded from https://ordregister.dk/
bootstrap/other/cor/cor1.02.tsv
bootstrap/other/cor/corext1.0.tsv
bootstrap/other/cor/ddo_bet_corlink.csv
bootstrap/other/cor/ddo_bet_corextlink.csv

# File sent by Sanni in email on 2022-05-23 (renamed).
bootstrap/other/sentiment/sense_polarities.tsv

# The open English WordNet
bootstrap/other/english/english-wordnet-2021.ttl

.cpcache
.DS_Store

.shadow-cljs
node_modules
package-lock.json
package.json
resources/public/js/compiled

out/
target/
dannet.jar
/db/
