*.iml
.idea/
.nrepl-port

resources/dannet
resources/wordnet
resources/db/
resources/export/
dannet.ttl
cor1.00.tsv
# File sent by Sanni in email on 2022-05-23 (renamed).
sense_polarities.tsv

docker/neo4j/*.jar

.cpcache
.DS_Store

.shadow-cljs
node_modules
package-lock.json
package.json
resources/public/js/compiled

out/
