{
    order rate_limit before basicauth
}

www.wordnet.dk {
    redir https://wordnet.dk{uri}
}

wordnet.dk, localhost {
    redir / https://cst.ku.dk/projekter/dannet

    rate_limit {remote.ip} 240r/m
    encode gzip
    reverse_proxy dannet:3456
}
