# /etc/systemd/system/glossematics.service
# based on: https://gist.github.com/mosquito/b23e1c1e5723a7fd9e6568e5cf91180f

[Unit]
Description=The DanNet web service.
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/etc/dannet/DanNet/docker
ExecStart=/bin/docker-compose up -d --build --remove-orphans
ExecStop=/bin/docker-compose down

[Install]
WantedBy=multi-user.target
