* {
    line-height: 1.5; /* looks better when wrapping to next line */
    color: #333;
}

html {
    padding: 0;
    background: #DDD;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
    font-family: Georgia, serif;
    letter-spacing: 0.2ch;
}

/* TODO */
body.entry {
}

section.search {
    place-content: start center;
}

section.search table + table {
    margin-top: 48px;
}

section.search form {
    display: flex;
    margin: 24px 0;
}

section.search form input {
    font-size: 24px;
    padding: 6px;
}

section.search form input + input {
    margin-left: 12px;
}

/* TODO: should probably be main? */
article {
    padding: 24px;
    max-width: 110ch;
}

header, footer {
    text-align: center;
}

/* TODO: fix weird positioning on small pages */
footer {
    margin-top: 48px;
    padding-bottom: 48px;
}

footer p {
    font-size: 14px;
    margin: 4px;
    padding: 0;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.omitted {
    color: #AAA;
    font-style: italic;

}
table {
    width: 100%;
    max-width: 100%;

}

col:last-of-type {
    width: 80ch;
}

table span.prefix {
    background: grey;
    color: rgba(255,255,255,0.8);
    border-radius: 2px;
    padding: 4px 8px;
    margin-right: 8px;
}

.prefix.dannet {
    background: #901a1e;
}
.prefix.w3c {
    background: #55f;
}
.prefix.ontolex {
    background: #df7300;
}
.prefix.wordnet {
    background: #387111;
}
.dannet {
    color: #901a1e;
}
.w3c {
    color: #55f;
}
.ontolex {
    color: #df7300;
}
.wordnet {
    color: #387111;
}

[lang]:not(footer)::after {
    content: attr(lang);
    margin-left: 0.2ch;
    vertical-align: super;
    font-size: 60%;
    opacity: 0.4;
    text-decoration: none;
    font-variant: small-caps;
    display: inline-block; /* nullifies text-decoration: underline */
}

h1 {
    font-size: 36px;
    font-weight: normal;
    padding: 0;
    margin: 0 0 32px 0;
    letter-spacing: 0.2ch;
    font-variant: small-caps;
    word-break: normal;
    overflow-wrap: anywhere;
}

h1 span[lang]::after {
    margin-right: -4px;
}

h1 span.prefix {
    background: grey;
    margin-right: 8px;
    padding: 4px 8px;
    border-radius: 3px;
    color: rgba(255,255,255,0.8);
}

h2 {
   font-size: 24px;
   font-weight: normal;
   text-align: center;
   margin: 48px 0 18px 0;
   padding: 0;
   font-variant: small-caps;
   letter-spacing: 0.2ch;
}

h2::before {
    content: "⊱ ";
    opacity: 0.33;
}

h2::after {
    content: " ⊰";
    opacity: 0.33;
}

header {
    word-break: break-all; /* fixes long labels/URIs breaking the layout */
}

header p {
    font-size: 14px;
    font-style: italic;
    color: #999;
    margin: -24px 0 24px 0;
}

header p > em {
    color: #333;
}

table {
    font-size: 16px;
    border-collapse: collapse;
    border: 1px solid #AAA;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

table table {
    border: 1px solid #CCC;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

td.prefix {
    text-align: right;
    padding-right: 0;
    width: 1px;
}

td.prefix + td {
    padding-left: 0;
}

td {
    padding: 16px;
    vertical-align: top;
}

td:nth-child(2) {
    padding-right: 8px;
}

td:nth-child(3) {
    padding-left: 8px;
}

/* Hide prefixes in objects by default */
td:nth-child(3) > .prefix,
td:nth-child(3) > span > .prefix,
td:nth-child(3) ol > li > .prefix,
td:nth-child(3) ol > li > span > .prefix {
    display: none;
}


tr:nth-child(odd), tr tr:nth-child(even) {
    background: white;
}

tr:nth-child(even), tr tr:nth-child(odd) {
    background: #F2F2F2;
}

details summary {
    height: 0;
    cursor: pointer;
}

details summary::after {
    content: "...";
}

details[open] summary::after {
    content: "";
}

ol {
    margin-bottom: 0;
    padding-left: 24px;
    list-style-type: upper-roman;
}

details[open] ol {
    padding: 12px;
    padding-left: 36px;
    margin-top: 24px;
    border: 1px solid #AAA;
    border-radius: 2px;
    list-style-type: decimal;
    background: #DDD;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
}

details[open] ol.three-digits {
    padding-left: 48px;
}
details[open] ol.four-digits {
    padding-left: 52px;
}
details[open] ol.five-digits {
    padding-left: 64px;
}

li {
    padding-bottom: 12px;
}

li:last-of-type {
    padding-bottom: 0;
}

li::marker {
    color: #999;
    font-size: 12px;
}
