* {
    line-height: 1.5; /* looks better when wrapping to next line */
    color: #000;
    hyphens: auto;
}

button {
    cursor: pointer;
}

/* The clear X button in the input is annoying and not needed. */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

@keyframes fade-in {
  0% {opacity:0}
  100% {opacity:1}
}

@keyframes clear-up {
  0% {filter: blur(2px);}
  100% {filter: none;}
}

@keyframes fall-down {
  0% {
    transform: scale(1.1);
    filter: drop-shadow(0 16px 8px rgba(0,0,0,0.5));
    }
  100% {}
}

@keyframes slide-left {
  0% {transform: translateX(12px);}
  100% {}
}

@keyframes slide-right {
  0% {transform: translateX(-12px);}
  100% {}
}

@keyframes slide-down {
  0% {transform: translateY(-6px);}
  100% {}
}

@keyframes glow {
  0% {filter: hue-rotate(30deg);}
  100% {}
}

a {
    color: #0066BB;
    text-decoration: none;
    cursor: pointer;
}

/* TODO: fix this markup difference so 2-item selector isn't necessary. */
a:hover,
a:hover div.set > * {
    text-decoration: underline;
}

article.document a {
    transition: all 0.2s;
    text-decoration: underline;
    text-decoration-color: #0066BB55;
}

article.document a:hover {
    text-decoration-color: #0066BBFF;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background: #fff url(/images/exclusive-paper.png);
}

#app {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;

    color: #333;
    font-family: Georgia, serif;
    letter-spacing: 0.2ch;
}

#content {
    flex-grow: 1;
    overflow-y: auto;

    padding: 12px;

    /* Center content & footer horizontally. */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
}

article.search table.attr-val + table.attr-val {
    margin-top: 48px;
    margin-bottom: 24px;
}

article.document {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article.document > div {
    padding: 16px;
}

/* This essentially works like sharpening/emboss effect on non-white text. */
#content *:not(.prefix) {
    text-shadow: 0 1px rgba(255,255,255,0.8);
}
.prefix {
    text-shadow: none;
}

nav {
    transition: background 0.66s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px;
    background-color: #333;
    background: #333 url(/images/exclusive-paper.png);
    box-shadow:
        0 0 12px rgba(0,0,0,0.8);
    border: 1px solid transparent;
    border-right: 1px solid rgba(0,0,0,0.5);
    z-index: 1;
}

nav a.title {
    transition: all 0.2s;
    color: white;
    opacity: 0.8;
    user-select: none;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    font-size: 21px;
    margin: auto 0 -32px 0; /* account for fixed search element */
    padding: 0;
    font-variant: small-caps;
    justify-self: center;
    text-decoration: none;
}

nav a.title:hover {
    text-decoration: none;
    opacity: 1;
    transform: scale(110%);
}

nav select.language {
    /* Remove default styling */
    color: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    transition: all 0.2s;
    opacity: 0.8;
    cursor: pointer;
    margin: auto 0 4px 0;
    width: 32px;
    height: 32px;
    font-size: 20px;
    background: transparent url(/images/globe.svg);
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: center;
}

nav select.language:hover {
    opacity: 1;
    transform: scale(110%);
}

nav a.github {
    transition: all 0.2s;
    background-image: url("/images/GitHub-Mark-Light-120px-plus.png");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    opacity: 0.8;
    padding: 4px;
}

a.github:hover {
    opacity: 1;
    transform: scale(110%);
}
nav button.synset-details {
    transition: all 0.2s;
    border: none;
    background: none;
    background-image: url("/images/minus.svg");
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    opacity: 0.8;
    padding: 4px;
}

nav button.synset-details.toggled {
    background-image: url("/images/plus.svg");
}

button.synset-details:hover {
    opacity: 1;
    transform: scale(110%);
}

form[role=search] {
    display: flex;
    flex-direction: column;
    transition: all 0s;
    position: fixed;
    margin: -5px 0 0 -5px;
    padding: 4px;
    opacity: 0.8; /* Same as text in h1 prefix badge. */
    background: url(/images/search.svg);
    background-repeat: no-repeat;
    background-position: 8px 9px; /* 4px - margin */
    z-index: 2;
}

form[role=search]:focus-within {
    transition: background-color 0.3s;
    opacity: 1;
    background: rgba(0,0,0,0.66) url(/images/back.svg);
    background-position: 0 8px;
    background-repeat: no-repeat;
    background-size: 42px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
}

.search-form__top {
    display: flex;
}

form[role=search]:hover input[role=combobox] {
    opacity: 0.5;
}

form[role=search] input[role=combobox]:not(:focus) {
    color: transparent;
}

form[role=search] input[role=combobox]:not(:focus)::placeholder {
    color: transparent;
}

form[role=search] input[role=combobox] {
    user-select: none;
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 2px;
    width: 32px;
    min-height: 32px;
    padding: 0;
    opacity: 0;
}

form[role=search]:focus-within input[role=combobox] {
    flex-grow: 1;
    font-size: 32px;
    margin-left: 48px;
    color: #333;
    opacity: 0.9;
}

form[role=search] input[type=submit] {
    opacity: 0;
    transition: transform 0.2s;
    letter-spacing: 2px;
    color: transparent;
}

form[role=search]:focus-within input[type=submit] {
    opacity: 1;
    transition: color 0.2s;
    min-width: 52px;
    height: 52px;
    padding: 36px 8px 2px 8px;
    font-size: 12px;
    border: none;
    color:  rgba(255,255,255,0.33);
    cursor: pointer;
    background-color: transparent;
    background: url(/images/search.svg);
    background-repeat: no-repeat;
    background-position: center 2px;
    background-size: 32px 32px;
}

form[role=search]:focus-within input[type=submit]:hover {
     color: rgba(255,255,255,1);
}

form[role=search] p {
    display: none;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

form[role=search] ul {
    display: none;
}

form[role=search]:focus-within ul {
    display: block;
    animation: fade-in 0.33s;
    margin: 0;
    padding: 8px 0 0 46px;
    overflow-y: auto;
}

form[role=search]:focus-within ul li {
    color: white;
    cursor: pointer;
    list-style-type: none;
    font-size: 20px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    margin: 0;
    padding: 4px;
    width: calc(100% - 16px);
}

form[role=search]:focus-within ul li:hover,
form[role=search]:focus-within ul li:focus {
    background: rgba(255,255,255,0.25);
}

article {
    max-width: 100ch;
}

article > section:last-child {
    margin-bottom: 32px;
}

header, footer {
    text-align: center;
}

footer {
    padding-top: 12px;
}

hr {
    border: none;
    border-top: 1px solid rgba(0,0,0,0.2);
    width: 100%;
    margin: auto 0 0 0;
    align-self: flex-end;
}

footer p {
    font-size: 14px;
    margin: 4px;
    padding: 0;
}

sub {
    font-size: 70%;
    opacity: 0.6;
    display: inline-block; /* nullifies text-decoration: underline */
}

div.set {
    display: inline-flex;
}

div.set .prefix {
    align-self: center;
}

div.set__left-bracket,
div.set__right-bracket {
    padding-left: 1ch;
    opacity: 0.4;
    transition: all 0.1s;
}

div.set__content {
    align-self: center;
}

span.marker {
    margin-right: 4px;
    font-weight: bold;
    color: black;
    cursor: help;
}

p.note {
    text-align: center;
    font-style: italic;
    margin: 24px 0 0 0;
    padding: 0;
    color: #666;
}

p.note + p.note {
    margin-top: 0;
}

p.note:last-child {
    margin-bottom: 24px;
}

p.note strong {
    font-size: 24px;
    color: #333;
    vertical-align: middle;
}

div.set__left-bracket {
    background: url(/images/set-left.svg) no-repeat;
    margin-right: 0.5ch;
    background-size: auto 100%;
}

div.set__right-bracket {
    background: url(/images/set-right.svg) no-repeat;
    margin-left: 0.5ch;
    background-size: auto 100%;
}

span.subtle {
    opacity: 0.33;
}

h1 sub {
    font-size: 50%;
}

.omitted {
    color: #AAA;
    font-style: italic;

}

table.attr-val col:nth-child(2) {
     min-width: 8ch;
}

table.attr-val col:nth-child(3) {
    width: 70ch;
}

span.prefix {
    background-color: #333;
    background: #333 url(/images/exclusive-paper.png);
    font-variant: small-caps;
    color: rgba(255,255,255,0.8);
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.33);
    padding: 3px 7px;
    margin-right: 6px;

    letter-spacing: 1px;
    padding-right: 4px; /* account for letter-spacing */
}

span.prefix__sep {
    display: none;
}

span.unknown {
    color: #999;
}
.prefix.unknown {
    background-color: white;
    border: 1px dashed #999;
    color: #999;
}
.prefix.dannet {
    background-color: #901a1e;
}
.prefix.w3c {
    background-color: #55f;
}
.prefix.meta {
    background-color: #019fa1;
}
.prefix.ontolex {
    background-color: #df7300;
}
.prefix.wordnet {
    background-color: #387111;
}
.dannet,
.dannet * {
    color: #901a1e;
}
.w3c,
.w3c * {
    color: #55f;
}
.meta,
.meta * {
    color: #019fa1;
}
.ontolex,
.ontolex * {
    color: #df7300;
}
.wordnet,
.wordnet * {
    color: #387111;
}

[lang]:not(footer, h1 span, article)::after {
    content: attr(lang);
    margin-left: 0.4ch;
    vertical-align: top;
    font-size: 60%;
    opacity: 0.6;
    text-decoration: none;
    font-variant: small-caps;
    display: inline-block; /* nullifies text-decoration: underline */
}

h1 sup {
    user-select: none;
    margin-left: 0.4ch;
    vertical-align: top;
    font-size: 60%;
    opacity: 0.6;
    text-decoration: none;
    font-variant: small-caps;
}

header {
    margin-bottom: 32px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: normal;
    padding: 0;
    margin: 12px auto;
    letter-spacing: 0.2ch;
    font-variant: small-caps;
    word-break: normal;
}

h1 span.prefix {
    align-self: center;
    transition: background 0.66s;
    background-color: #333;
    background: #333 url(/images/exclusive-paper.png);
    margin: -2px 8px 0 0;
    padding: 1px 12px 5px 12px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.33);
    color: rgba(255,255,255,0.8);

    letter-spacing: 6px;
    padding-right: 6px; /* account for letter-spacing */
}

h2 {
   font-size: 24px;
   font-weight: normal;
   text-align: center;
   margin: 36px 0 12px 0;
   padding: 0;
   font-variant: small-caps;
   letter-spacing: 0.2ch;
}

h2::before {
    content: "⊱ ";
    opacity: 0.33;
}

h2::after {
    content: " ⊰";
    opacity: 0.33;
}

header > .rdf-uri {
    font-size: 14px;
    font-style: italic;
}

header > .rdf-uri .rdf-uri__prefix {
    color: #006699;
    opacity: 0.6;
}
header > .rdf-uri .rdf-uri__name {
    color: #006699;
    font-weight: bold;
}

.rdf-uri::before {
    content: "<";
    margin-right: 2px;
    opacity: 0.3;
}

.rdf-uri::after {
    content: ">";
    margin-left: 2px;
    opacity: 0.3;
}

/* For table to inherit. */
main > article {
    width: 100%;
}

table.attr-val {
    font-size: 16px;
    border-collapse: collapse;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
    width: 100%;
}

table.attr-val table.attr-val,
table.attr-val section.text {
    border: 1px solid #CCC;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

table.attr-val section.text::before {
    content: "“";
    margin-right: 2px;
    opacity: 0.5;
}

table.attr-val section.text::after {
    content: "”";
    margin-left: 2px;
    opacity: 0.5;
}

td.prefix {
    text-align: right;
    padding-right: 0;
    width: 1px;
}

td.prefix + td {
    padding-left: 0;
}

h1, h2 {
    filter: drop-shadow(0 8px 12px rgba(0,0,0,0.2));
}

td {
    padding: 16px;
    vertical-align: top;
}

section.text {
    padding: 16px;
    background-color: white;
    font-size: 16px;
    border: 1px solid #AAA;
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
}

section.text p {
    margin: 0 0 24px 0;
}

section.text p:last-child {
    margin-bottom: 0;
}

td.attr-prefix {
    padding-right: 0;
    text-align: right;
    width: 1px;
}

td.attr-name {
    padding-left: 0;
    border-right: 1px solid rgba(0,0,0,0.1);
}

td.attr-prefix,
td.attr-name {
    background: rgba(0,0,0,0.05);
}

/* Used to hide prefixes. */
.hidden > * {
    display: none;
}

/* Fix alignment of prefix+name table cells with tall names, e.g. synsets. */
.attr-combo > span {
    vertical-align: top;
}

tr:nth-child(odd),
tr:nth-child(even) section.text,
tr:nth-child(even) span.emblem,
tr tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(even),
tr:nth-child(odd) section.text,
tr:nth-child(odd) span.emblem,
tr tr:nth-child(odd) {
    background-color: #F2F2F2;
}

details summary {
    height: 0;
    cursor: pointer;
}

details summary::after {
    content: "...";
}

details[open] summary::after {
    content: "";
}

ol {
    margin: 0;
    padding-left: 24px;
    list-style-type: upper-roman;
}

details[open] ol {
    padding: 12px;
    padding-left: 36px;
    margin-top: 24px;
    border: 1px solid #AAA;
    border-radius: 2px;
    list-style-type: decimal;
    background-color: #DDD;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
}

details[open] ol.three-digits {
    padding-left: 48px;
}
details[open] ol.four-digits {
    padding-left: 52px;
}
details[open] ol.five-digits {
    padding-left: 64px;
}

li {
    padding-bottom: 12px;
}

li:last-of-type {
    padding-bottom: 0;
}

li::marker {
    color: #999;
    font-size: 12px;
}

/* Used to embed clickable badges inside hyperlinks. */
span.emblem {
    transition: all 0.1s;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 2px;
    padding: 4px;
    display: inline-block; /* nullifies text-decoration: underline */
}

span.emblem:hover {
    border-color: rgba(0,0,0,0.6);
    transform: scale(102.5%);
    filter: drop-shadow(0 4px 2px rgba(0,0,0,0.4));
}
